<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>08-v-if&v-show</title>
    <!-- 1.0 引入vue.js文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- 2.0 写好视图部分(MVVM中的view) -->
    <div id="app">
      <!-- 完整写法 -->
      成绩：
      <p v-if="score > 80">优秀</p>
      <p v-else-if="score > 70">良好</p>
      <p v-else-if="score > 60">及格</p>
      <p v-else="score > 60">不及格</p>
      <br />
      <p v-if="isShow">v-if</p>
      <p v-show="isShow">v-show</p>
      <button @click="isShow = !isShow">toggle</button>
    </div>

    <script>
      // 3.0 创建vue实例(MVVM中的vm)，并且写好el、data(MVVM中的model)中的内容
      /**
       * 参数说明
       * el: 告诉vue实例解析哪块内容
       * data：这个是模型数据，给视图展示提供数据的
       */
      var vm = new Vue({
        el: '#app',
        data: {
          score: 80,
          isShow: true
        }
      })
    </script>
  </body>
</html>
